/* IMPORT FONT FAMILY */
@import "themesetting";
@import "grid";
// @import "fonts";
/*@import 'fontawesome.css';*/

// color green-#3f8830


/* Button */
%button {
  display: inline-block;
  vertical-align: top;
  font-family: $base-fontfamily;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 15px 25px;
  margin: 15px 0;
  display: inline-block;
  &:hover {
  }
  &:focus {
  }
  @media all and (max-width: 1600px) {
    padding: 12px 22px;
    border-radius: 30px;
  }
  @media all and (max-width: 1366px) {
    padding: 9px 22px;
    border-radius: 22px;
  }
  @media all and (max-width: 1200px) {
    padding: 8px 18px;
    border-radius: 20px;
  }
}

/* Dragable Element */
%dragableElement {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

/* Scrollbar Styling */
@mixin scrollbars($size, $foreground-color, $background-color) {
  /* For Google Chrome */
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    position: absolute;
    width: 110%;
    left: -5%;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }
  /* For Internet Explorer */
  & {
    scrollbar-width: $size;
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

/**/
@mixin transprenttext($textcolor, $outlinecolor) {
  color: $textcolor;
  -webkit-text-shadow: $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px;
  -moz-text-shadow: $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px;
  text-shadow: $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px,
    $outlinecolor 0px 0px 1px, $outlinecolor 0px 0px 1px;
}

/* BASIC GLOBAL STYLING */
body {
  color: #000;
  font-family: $base-fontfamily;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  background-color: #f5f5f5;
  @media (max-width: 1600px) {
    font-size: 16px;
  }
  @media (max-width: 1366px) {
    font-size: 14px;
  }
}

/* HEADING */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $headingscolor;
  font-family: $base-fontfamily;
  margin: 8px 0;
}
h2{
    font-size: 24px;

}

// h1,
// .h1 {
//   font-size: 85px;
//   font-weight: 600;
//   line-height: 1.225;
//   @media all and (max-width: 1600px) {
//     font-size: 75px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 65px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 55px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 50px;
//   }
// }
// h2,
// .h2 {
//   font-size: 75px;
//   font-weight: 600;
//   line-height: 1.25;
//   @media all and (max-width: 1600px) {
//     font-size: 65px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 55px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 40px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 32px;
//   }
// }
// h3,
// .h3 {
//   font-size: 40px;
//   font-weight: 600;
//   line-height: 1.25;
//   @media all and (max-width: 1600px) {
//     font-size: 35px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 30px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 28px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 26px;
//   }
// }
// h4,
// .h4 {
//   font-size: 38px;
//   font-weight: normal;
//   line-height: 1.25;
//   @media all and (max-width: 1600px) {
//     font-size: 32px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 26px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 25px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 24px;
//   }
// }
// h5,
// .h5 {
//   font-size: 30px;
//   font-weight: normal;
//   line-height: 1.25;
//   @media all and (max-width: 1600px) {
//     font-size: 27px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 24px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 21px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 19px;
//   }
// }
// h6,
// .h6 {
//   font-size: 22px;
//   font-weight: normal;
//   line-height: 1.25;
//   @media all and (max-width: 1600px) {
//     font-size: 20px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 18px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 17px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 16px;
//   }
// }
// .h7 {
//   font-size: 20px;
//   font-weight: normal;
//   line-height: 1.4;
//   @media all and (max-width: 1600px) {
//     font-size: 18px;
//   }
//   @media all and (max-width: 1366px) {
//     font-size: 17px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 17px;
//   }
//   @media all and (max-width: 1280px) {
//     font-size: 16px;
//   }
//   @media all and (max-width: 1200px) {
//     font-size: 15px;
//   }
// }
// .h8 {
// }

/* PARAGRAPH */
p {
  margin: 8px 0;

}

.text-uppercase {
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.content-box{
  padding: 30px;
  margin: 15px 0;
  .item{
    align-items: center;
    padding: 15px 0;
    .img-box{
      img{
        width: 100%;
        height:400px;
        object-fit: cover;
        object-position:top;
      }
    }
  }

  @media all and (max-width:900px){
    .text-box{
      margin: 15px 0;
    }
  }
}

/* Background Colors */


/*================================
			HEADER
  ================================*/
 
.site-header {
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0 , 13%);
    text-transform: uppercase;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 111;
  transition: all 0.3s ease-in-out;

.container-innr{
    padding-top: 12px;
}
  .search-box{
width: 650px;
form{
  width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 23%);
    display:inline-block;
    background-color: #fff;
    .flexrow{
        .input-grp{
            width: 90%;
            input{
                width: 100%;
                height: 100%;
                padding: 4px ;
                padding-left: 20px;
                border: 0;
                background-color: transparent;
                &::placeholder{
                    opacity:0.6;
                }
                &:focus-within{
                    outline: none;
                }
            }

        }
        .btn-grp{
            width: 10%;
            button{
                background-color: transparent;
                width: 100%;
                border: 0;
                outline: none;
                padding: 8px 12px 4px 4px;
                cursor: pointer;
                svg{
                    transition: all 0.3s ease-in-out;
                    transform:rotate(25deg);
                }
                &:hover{
                    svg{
                    transform:rotate(0deg);
                }
                }
            }
        }
    }
}
}

  .sec-row.flexrow { 
    justify-content:space-between;
    align-items:center; 
    flex-wrap: nowrap;
    transition: all 0.1s ease-in-out;
    height: 100px;
    @media all and (max-width:900px){
        flex-wrap: wrap;
        height:75px;
    }
  }
  .nav-clmn {
        display: flex;
    align-items: center;
    justify-content:flex-end;
  }
  @media (max-width: 1600px) {
    .nav-clmn {
      padding-top: 15px;
    }
  }
  @media (max-width:1280px){
      .sec-md-col-50{
        width: 40%;   
      }
      .sec-md-col-30{
          width: 40%;
      }
  }
  @media (max-width: 900px) {
      .container-innr{
      height: 75px !important;

        padding-top: 0px;
      }
      
    
      .login{
          margin-left: 20px;
          color: #fff !important;
      }
    
    .nav-clmn {
      padding-top: 0;
    }
  }
}

/* LOGO */
.logo-grp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: #3f8830;
  a {
    display: inline-block;
    vertical-align: top;
    font-family: rockwell,sans-serif;
    font-weight: 700;
    font-size: 22px;
  }
  img {
    max-width: 100%;
  }
  @media all and (max-width: 1600px) {
    img {
      max-width: 135px;
    }
  }
  @media all and (max-width: 1366px) {
    img {
      max-width: 120px;
    }
  }
  @media all and (max-width: 1280px) {
    img {
      max-width: 100px;
    }
  }


  @media (max-width: 900px) {
      
          padding-top: 15px;
      
  }
}

 .toggle {
    display: none;
    float: right;
    width: 36px;
    height: 30px;
    margin-top: 0px;
    border: none;
    cursor: pointer;
    z-index: 99;
    position: relative;
    background-color: #0000;
    span {
    width: 15px;
    height: 2px;
    background-color: #028d5a;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}
    span:first-child {
    margin-top: -8px;
    }
    span:nth-child(2) {
        width: 20px;
    }
    span:last-child {
        margin-top: 8px;
        width: 25px;
    }
    @media all and (max-width:900px){
        display: block !important;
    }
}

/*================================
			NAVIGATION
  ================================*/
  .icon{
      
  }
.shownavigation {
  position: relative;
  overflow: hidden;
}
.headernav-grp {
  text-align: right;
  padding: 5px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    & > li {
      position: relative;
      & > a {
        color: #444;
        font-family: $base-fontfamily;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: #46a033;
        }
      }
    }
  }
  & > ul {
    & > li {
      display: inline-block;
      vertical-align: middle;
      padding: 25px 10px;
      & > a {
        display: inline-block;
        vertical-align: top;
        padding: 10px 10px;
      }
      &.has-children {
          
        & > a {
            transition: all 0.3s ease-in-out;
          &:after {
            content: "";
            width: 10px;
            height: 6px;
            background-image: url(../images/drpdwn-icon.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
          }
          
        }
        &:hover{
            a{

                &::after{
                  transform: rotate(180deg);
              }
            }
          }
        ul.childrenlist {
            margin-top: 20px;
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          z-index: 2;
          display: block ;
          visibility: hidden;
          opacity: 0;
          text-align: left;
          background-color: #ffffff;
          padding: 5px 0;
          box-shadow: 0px 0px 6px 0 rgba(0, 0, 0 , 27%);
      width:250px;
      transform: translateY(1.5rem);
      transition:all 0.3s ease-in-out;

          & > li {
          border-bottom: 1px solid #00356b2b;
          &:last-child{
          border-bottom: 0;
          }
            & > a {
              display: block;
              color: #444;
              line-height: 1.3;
              padding: 8px 15px;
              &:hover {
                color:#fff;
                background-color: #028d5a;
              }
            }
          }
        }
        &:hover {
            
          & > ul.childrenlist {
            display: block !important;
            visibility: visible !important;
            opacity: 1 !important;
            transform: translateY(0);

       
          
          }
        }
      }
      &.registernow-link,
      &.login-link {
        & > a {
          border-radius: 40px;
          padding: 7px 20px;
          border: 1px solid #ffffff;
        }
      }
      &.registernow-link {
        & > a {
          color: #ffffff !important;
          background-color: #ee383d !important;
          padding-left: 30px;
          padding-right: 30px;
          border-color: #ee383d;
          &:hover {
            color: #ee383d !important;
            background-color: #ffffff !important;
            border-color: #ffffff;
          }
        }
      }
      &.login-link {
        & > a {
          color: #00356b !important;
          background-color: #ffffff !important;
          border-color: #ffffff;
          &:hover {
            color: #ffffff !important;
            background-color: #296dc0 !important;
            border-color: #296dc0;
          }
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .nv-abtus {
    ul.childrenlist{
    }
  }
  @media (max-width: 1600px) {
    ul {
      & > li {
        & > a {
          font-size: 15px;
          line-height: 1.4;
        }
      }
    }
    & > ul {
      & > li {
        padding: 0 8px;
        & > a {
          padding: 8px 8px;
        }
        &.registernow-link,
        &.login-link {
          & > a {
            border-radius: 35px;
            padding: 8px 18px;
          }
        }
        &.registernow-link {
          & > a {
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
    }
  }
  @media (max-width: 1366px) {
    ul {
      & > li {
        & > a {
          font-size: 14px;
        }
      }
    }
    & > ul {
      & > li {
        padding: 0 6px;
        & > a {
          padding: 7px 7px;
        }
        &.registernow-link,
        &.login-link {
          & > a {
            border-radius: 30px;
            padding: 7px 16px;
          }
        }
        &.registernow-link {
          & > a {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 1366px) {
    ul {
      & > li {
        & > a {
          font-size: 13px;
        }
      }
    }
    & > ul {
      & > li {
        padding: 0 5px;
        & > a {
          padding: 5px 5px;
        }
        &.registernow-link,
        &.login-link {
          & > a {
            border-radius: 26px;
            padding: 5px 15px;
          }
        }
        &.registernow-link {
          & > a {
            padding-left: 18px;
            padding-right: 18px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    ul {
      & > li {
        & > a {
          font-size: 12px;
        }
      }
    }
    & > ul {
      & > li {
        padding: 0 2px;
        & > a {
          padding: 5px 5px;
        }
        &.registernow-link,
        &.login-link {
          & > a {
            border-radius: 22px;
            padding: 6px 12px;
          }
        }
        &.registernow-link {
          & > a {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

/* Mobile Navigation */
.mnav-trigger {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  & > span {
    display: block;
    width: 90%;
    height: 2px;
    background-color: #3f8830;
    margin: 2px;
    position: relative;
    transition-property: transform opacity;
    transition-duration: 0.3s;
    float: right;
    &:first-child {
      margin-top: 0;
      width: 15px;
    }
    &:nth-child(2) {
      margin-top: 0;
      width: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: 900px) {
    display: block !important;
    width: 35px;
  }
}
.headernav-cntnr {
  @media (max-width: 900px) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: -100%;
    z-index: 9999;
    width: 100%;
    max-width: 350px;
    padding: 20px 0;
    padding-top: 45px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    .headernav-grp {
      text-align: left;
      height: 100%;
      max-height: calc(100vh - 60px);
      overflow-y: auto;
      overflow-x: hidden;
      ul {
        & > li {
          display: block;
          padding: 4px 0;
          & > a {
            font-size: 15px;
            padding: 7px 20px;
            
          }
        }
      }
      & > ul {
        & > li {
          display: block;
          &.registernow-link,
          &.login-link {
            padding: 7px 20px;
            & > a {
              color: #ffffff !important;
              display: block;
              text-align: center;
              
            }
          }
          &.registernow-link {
            & > a:hover{
                color: #ee383d !important;
              }
            }
          &.login-link {
            & > a {
              color: #ffffff !important;
              background-color: #00356b !important;
              border-color: #00356b;
           
            }
          }
        }
      }
    }
  }
}
.show-mnav {
  position: relative;
  overflow: hidden;
  @media (max-width: 900px) {
    .headernav-cntnr {
      right: 0;
    }
  }
}
.mnav-clstrigger {
  display: none !important;
  cursor: pointer;
  width: 30px;
  height: 18px;
  position: relative;
  overflow: hidden;
  & > span {
    display: block;
    width: 70%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
    &:first-child {
      background-color: #00356b;
      transform: translateY(-50%) rotate(-45deg);
    }
    &:last-child {
      background-color: #00356b;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  @media (max-width: 900px) {
    display: block !important;
    position: absolute;
    top: 0;
    bottom: auto;
    left: auto;
    right: 0;
    z-index: 99999;
    background-color: #ffffff;
    width: 50px;
    height: 45px;
  }
}

/* WITH BANNER */
.with-banner {
  .site-header {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    background-color: transparent;
  }
  .headernav-grp {
    ul {
      & > li {
        & > a {
          color: #ffffff;
        }
      }
    }
    & > ul {
      & > li {
        &.has-children {
          & > a {
            &:after {
              background-image: url(../images/menudropdown-whitearrow.png);
            }
          }
        }
      }
    }
  }
}

/*================================
			FOOTER
  ================================*/
.site-footer {
    position:relative;
  margin-top: 15px;
  padding:  0;
//   background-color: rgb(49, 49, 49);
  background-color: #231e1e;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0 , 7%);
  //   .container{
  //   position:absolute;
  //   left: 50%;
  //   bottom: 0;
  //   transform: translateX(-50%);
  //   height: 90px;
  // }

  .talkexpert-grp,
  .callus-grp,
  .emailus-grp,
  .copyright-clmn,
  .designcredit-clmn,
  .ft-newsletterfrm,
  .ft-gettouch {
    & > *:first-child {
      margin-top: 0 !important;
    }
    & > *:last-child {
      margin-bottom: 0 !important;
    }
  }

  .ft-topsec {
    padding: 55px 0;
    .flexrow {
      align-items: center;
    }
  }
  .talkexpert-grp {
    h6,
    .h6,
    .h7 {
      color: #ed3237;
      font-weight: 500;
    }
    & > * {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }


  .ft-midsec {
    padding: 50px 0;
    border-top: 1px solid #cdcfd8;
    background-image: url("../images/ftmidsec-bgimg.png");
    background-repeat: no-repeat;
    background-size: 121px 265px;
    background-position: bottom right;
  }
  .ftnav-grp {
    position: relative;
    overflow: hidden;
    padding-top: 5px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      & > li {
        padding: 2px 0;
        & > a {
          color: #898989;
          font-weight: 300;
          text-decoration: none;
          display: block;
          padding: 3px 0;
          &:active{
          color: #333333;
          }
          &:hover {
            color: #333333;
            text-decoration: none;
          }
        }
      }
    }
    & > ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 -20px;
      list-style: none;
      & > li {
        width: 30%;
        padding: 0 20px;
        margin-top: 15px;
        & > a {
          color: #00356b;
          font-size: 113%;
          font-weight: normal;
          &:hover {
            color: #000000;
            text-transform: none;
          }
        }
        ul.childrenlist {
          padding-top: 12px;
        }
        &:first-child {
          width: auto;
          min-width: 20.5%;
        }
        &:nth-child(2) {
          width: auto;
          min-width: 22%;
        }
        &:nth-child(3) {
          width: auto;
          min-width: 26%;
        }
      }
    }
  }
  .newsletter-socialicons-clmn {
    padding-top: 20px;
    padding-right: 150px;
  }
  .ft-newsletterfrm,
  .ft-gettouch {
    h6,
    .h6 {
      color: #00356b;
      font-size: 113%;
      font-weight: normal;
    }
  }
  .ft-newsletterfrm {
    padding-bottom: 45px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        padding-bottom: 15px;
      }
    }
    form {
      display: block;
      width: 95%;
      max-width: 325px;
      border: 1px solid #cdcfd8;
      border-radius: 30px;
      position: relative;
      overflow: hidden;
      input {
        display: block;
        color: #00356b;
        font-family: "Poppins", arial;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        text-overflow: ellipsis;
        outline: none;
        background-color: transparent;
        border: 0 none;
        padding: 12px 20px;
        padding-right: 50px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        &::-webkit-input-placeholder {
          opacity: 1;
          color: #7e83a0;
          font: inherit;
        }
        &::-moz-placeholder {
          opacity: 1;
          color: #7e83a0;
          font: inherit;
        }
        &:-ms-input-placeholder {
          opacity: 1;
          color: #7e83a0;
          font: inherit;
        }
        &:-moz-placeholder {
          opacity: 1;
          color: #7e83a0;
          font: inherit;
        }
        &:focus {
          background-color: #ffffff;
        }
      }
      button[type="submit"],
      input[type="submit"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        cursor: pointer;
        color: transparent;
        text-indent: -9999px;
        outline: none;
        border: 0 none;
        background-color: transparent;
        background-image: url("../images/frmnewsletterbtn-icon.png");
        background-repeat: no-repeat;
        background-size: 20px 14px;
        background-position: center center;
        padding: 0;
        margin: 0;
        min-width: 50px;
      }
    }
  }
  ul.ft-socialicons {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    & > li {
      display: inline-block;
      vertical-align: middle;
      padding: 0px 10px;
      & > a {
        display: block;
        font-size: 25px;
        // width: 24px;
        // height: 24px;
        color:#fff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        &:hover{
          color: #54c43e;
        }
        &.fbicon {
          // width: 12px;
          // height: 24px;
        }
        &.twittericon {
          // width: 23px;
          // height: 21px;
        }
        &.instaicon {
          // width: 24px;
          // height: 24px;
        }
        &.linkedinicon {
          // width: 35px;
          // height: 35px;
        }
      }
      &:first-child {
        padding-left: 0;
      }
    }
  }
  .ft-btsec {
    padding: 25px 0;
    // border-top: 1px solid #cdcfd8;
  }
  .designcredit-clmn {
    color: #898989;
    text-align: right;
    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #333333;
        text-decoration: none;
      }
    }
  }
  ul.copyrightlst {
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    & > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 18px;
      margin: 5px 0;
      border-right: 1px solid #acbec6;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      & > span {
        color: #296dc0;
      }
      & > a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #f5f5f5;
          text-decoration: none;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: 0 none;
        padding-right: 0;
      }
    }
  }
  @media (max-width: 1600px) {
    .ft-topsec {
      padding: 45px 0;
    }
    .ft-midsec {
      padding: 45px 0;
      background-size: 90px 220px;
    }
    .ftnav-grp {
      padding-top: 0;
      ul {
        & > li {
          & > a {
            padding: 2px 0;
          }
        }
      }
      & > ul {
        & > li {
          & > a {
            font-size: 108%;
          }
          ul.childrenlist {
            padding-top: 10px;
          }
        }
      }
    }
    .newsletter-socialicons-clmn {
      padding-top: 15px;
      padding-right: 130px;
    }
    .ft-newsletterfrm,
    .ft-gettouch {
      h6,
      .h6 {
        font-size: 108%;
      }
    }
    .ft-newsletterfrm {
      padding-bottom: 40px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:first-child {
          padding-bottom: 10px;
        }
      }
      form {
        input {
          font-size: 14px;
          padding: 10px 20px;
          padding-right: 45px;
        }
        button[type="submit"],
        input[type="submit"] {
          background-size: 18px 12px;
          min-width: 45px;
        }
      }
    }
    ul.ft-socialicons {
      & > li {
        padding: 4px 8px;
        & > a {
          width: 20px;
          height: 20px;
          &.fbicon {
            width: 10px;
            height: 22px;
          }
          &.twittericon {
            width: 20px;
            height: 18px;
          }
          &.instaicon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .ft-btsec {
      padding: 20px 0;
    }
    ul.copyrightlst {
      & > li {
        font-size: 15px;
      }
    }
  }
  @media (max-width: 1440px) {
    .ft-topsec {
      padding-bottom: 40px;
    }
    .ft-midsec {
      background-size: 75px 200px;
    }
  }
  @media (max-width: 1366px) {
    .ft-topsec {
      padding: 35px 0;
    }
    .ft-midsec {
      padding: 40px 0;
      background-size: 70px 180px;
    }
    .ft-newsletterfrm {
      padding-bottom: 35px;
      form {
        input {
          font-size: 13px;
          padding: 8px 20px;
          padding-right: 40px;
        }
        button[type="submit"],
        input[type="submit"] {
          background-size: 16px 11px;
          min-width: 42px;
        }
      }
    }
    .ft-btsec {
      padding: 15px 0;
    }
    ul.copyrightlst {
      & > li {
        font-size: 14px;
        padding: 0 15px;
      }
    }
  }
  @media (max-width: 1200px) {
    .callus-grp,
    .emailus-grp {
      padding: 0 12px;
    }
    .emailus-grp {
      margin-left: 10px;
    }
  }
  @media (max-width: 991px) {
    .ft-topsec,
    .ft-midsec,
    .ft-btsec {
      .sec-row {
        & > *[class*="sec-md-col"] {
          width: 100%;
        }
      }
    }
    .callemailus-clmn {
      justify-content: flex-start;
      align-items: flex-end;
    }
    .callus-grp,
    .emailus-grp {
      margin-top: 25px;
    }
    .callus-grp {
      padding-left: 0;
      border-left: 0 none;
    }
    .ftnav-grp {
      & > ul {
        justify-content: space-between;
        margin: 0 -25px;
        & > li {
          width: auto !important;
          min-width: auto !important;
          padding: 0 25px;
        }
      }
    }
    .newsletter-socialicons-clmn {
      margin-top: 20px;
    }
    .designcredit-clmn {
      text-align: left;
      padding-top: 5px;
    }
     .ft-socialicons{
  text-align:center !important;
  margin-top: 12px ;
 }
  }
  @media (max-width: 767px) {
    .ftnav-grp {
      & > ul {
        margin-left: 0 !important;
        margin-right: 0 !important;
        & > li {
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }
  }
  @media (max-width: 600px) {
    ul.copyrightlst {
      & > li {
        &:first-child {
          display: block;
          border-right: 0 none;
          padding-right: 0;
        }
        &:first-child + li {
          padding-left: 0;
        }
      }
    }
    .designcredit-clmn {
      padding-top: 10px;
    }
    .newsletter-socialicons-clmn {
      padding-right: 70px;
    }
    .ft-midsec {
      background-size: 60px 120px;
    }

  }
  @media (max-width: 420px) {
    .callemailus-clmn {
      display: block;
    }
    .emailus-grp {
      margin-left: 0;
      padding-left: 0;
      border-left: 0 none;
    }
  }
}

/*==============================================================
					PAGES STYLING
  ==============================================================*/

section {
//   background-color: #ffffff;
}
.sectpdwn-arrow {
  cursor: pointer;
  width: 71px;
  height: 71px;
  display: inline-block;
  vertical-align: top;
  background-color: #296dc0;
  background-image: url("../images/sectpdwnarrow-icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  border-radius: 100%;
  transition:all 0.3s ease-in-out;
  &:hover{
  background-color: #003065;
  }
  @media (max-width: 1600px) {
    width: 60px;
    height: 60px;
    background-size: 20px;
  }
  @media (max-width: 1366px) {
    width: 50px;
    height: 50px;
    background-size: 15px;
  }
  @media (max-width: 1200px) {
    width: 42px;
    height: 42px;
    background-size: 12px;
  }
}

.slick-slider {
  .slick-slide,
  .slick-slide * {
    outline: none !important;
  }
     .slick-next, .slick-prev{
            width: 25px;
            height:25px;
          &::before{
              content: "";
              
          }
      }
       .slick-prev{
              background-image: url(../images/icons8-back-50.png);
              background-repeat: no-repeat;
              background-size:contain ;
              background-position: center;
              &:hover,&:focus{
                  background-image: url(../images/icons8-back-50.png);
                  background-repeat: no-repeat;
                  background-size:contain ;
              background-position: center;


              }
       }
       .slick-next{
              background-image: url(../images/icons8-forward-50.png);
                background-repeat: no-repeat;
              background-size:contain ;
              background-position: center;

              &:hover,&:focus{
                  background-image: url(../images/icons8-forward-50.png);
                  background-repeat: no-repeat;
                 background-size:contain ;
              background-position: center;

              }
       }
}

/*================================
		HOME PAGE
  ================================*/
.white-bg{
  background-color: #fff;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0 , 7%);

}
.exam-course-section{
    padding-bottom: 40px;
}
.sec-header{
    padding-top: 10px;
    border-bottom: 1px solid #cdcdc8;

}
.exam,.course{
    // background: linear-gradient(to left, #3f8830, #46a033);
    padding: 0 30px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0 , 7%);
}

.banner-slider{
    margin-top: 15px;
  .item{
    img{
        object-fit: cover;
        object-position: center;
    }
  }
  .slick-next, .slick-prev{
      width:35px;
        height:60px;
        background-color: #f5f5f547;
        z-index: 11;
        filter: invert(1); 
        &::before{
        }

        &:hover,&:focus{
        background-color: #f8f8f8a8;

        }
      }
      .slick-next{
        right: 25px;
      }
      .slick-prev{
        left: 25px;
      }
}
.slider-container{
    padding: 40px 50px;
}
  .slider{
      padding-top: 30px ;
      padding-bottom: 10px ;
      .slide{
          width: 195px;
          
          .slide-inner{
              margin: 0 25px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 23%);
              margin-bottom: 20px;
            //   background: linear-gradient(to left, #3f8830, #46a033);
            background-color: #fff;
              overflow:visible;
              transition: all 0.3s ease;
              &:hover{
                  transform:scale(1.05)
              }
              img{
                  height: 120px;
                  width: 100%;
                  object-fit: cover;
                  object-position: bottom;
              }
              .slide-content{
                  padding: 20px;
              }
              h5{
                  font-size: 15px;
                  line-height: 1.3;
                  font-weight: 500;
                  text-transform: capitalize;
                }
                a.btn{
                  text-transform: capitalize;
                    text-align: center;
                  display:block;
                  background-color: #3f8830;
                  color: #fff;
                  font-size: 14px;
                  padding: 6px 15px;
                  &:hover{
                      background-color: #46a033;
                  }
              }
          }
      }
   
  }



  // heading param
  .banner-sec{
  .cntnt-grp{
  p{
  display: none;
  }
  }
  .sec-header{
    width: 100%;
    p{
      color: #ededed;
      font-size: 24px;
      @media all and (max-width:1600px){
        font-size: 22px;
      }
      @media all and (max-width:1366px){
        font-size: 20px;
      }
      @media all and (max-width:1200px){
        font-size: 18px;
      }
    }
  }
  .banner-text{
      width: 100%;
      p{
        color:#b7b7b7;
        font-size: 14px;
      }
  }
}

/* Banner Section */
.banner-sec {
 

 

  position: relative;
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {

  }
  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.4;
  }
  .container {
    padding-top: 265px;
    padding-bottom: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    z-index: 1;
    .sec-row {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      .bannerclmn {
        width: 50%;
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2n + 2),
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  @media all and (max-width: 1600px) {
    .container {
      padding-top: 250px;
    }
 
  }
 
  @media all and (max-width: 1366px) {
    .container {
      padding-top: 200px;
    
    }
   

  }
  @media all and (max-width: 1280px) {
    .container {
      padding-top: 220px;
    }
  }
  @media all and (max-width: 1200px) {
    .container {
      padding-top: 220px;
      padding-bottom: 30px;
    }

  }
  @media all and (max-width: 900px) {
  

    .container {
      display: block;
      padding-top: 120px;
 
    }
  }
  @media all and (max-width: 767px) {
    .container {
      padding-top: 140px;
    }
  
  
  }
  @media all and (max-width: 600px) {
    .container {
      padding-top: 140px;
    }

 
  }
  @media all and (max-width: 400px) {
    .container {
      padding-bottom: 20px;
    }

  }
}

.home-banner-sec{
  .cntnt-grp{
  p{
  display: none;
  }
  }
  .banner-text{
      width: 100%;

  }
}

/* Banner Section */
.home-banner-sec {
  color: #ffffff;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: #333;
  }
  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.4;
  }
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    z-index: 1;
    .sec-row {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      .bannerclmn {
        width: 50%;
        &:first-child {
          padding-left: 0;
        }
        &:nth-child(2n + 2),
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  @media all and (max-width: 1600px) {
    .container {
      padding-top: 250px;
    }
 
  }
 
  @media all and (max-width: 1366px) {
    .container {
      padding-top: 200px;
    
    }
   

  }
  @media all and (max-width: 1280px) {
    .container {
      padding-top: 220px;
    }
  }
  @media all and (max-width: 1200px) {
    .container {
      padding-top: 220px;
      padding-bottom: 30px;
    }

  }
  @media all and (max-width: 900px) {
  

    .container {
      display: block;
      padding-top: 120px;
 
    }
  }
  @media all and (max-width: 767px) {
    .container {
      padding-top: 140px;
    }
  
  
  }
  @media all and (max-width: 600px) {
    .container {
      padding-top: 140px;
    }

 
  }
  @media all and (max-width: 400px) {
    .container {
      padding-bottom: 20px;
    }

  }
}
.home-banner-section{
  .container{
    padding: 0px 15px;
  }
}
.banner-slider{
  .item{
    img{
      max-width: 100%;
      width: 100%;
      height:300px;
      margin-bottom: -10px;
    }
  }
}
.login{
    background-color: #3f8830;
    padding: 8px 20px !important;
    border-radius: 50px;
    display: inline-block;
    color: #fff !important;
    &:hover{
        background-color:#028d5a;
    }
}





/*==============================================================
					ADDITIONAL STYLING
  ==============================================================*/

// commons
ol,
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}



.flex-box {
  display: flex;
  flex-wrap: wrap;
}
.wrapper {
  padding: 0 140px;
  @media all and (max-width: 1440px) {
    padding: 0px;
  }
}

// form section
.form-section {
  padding: 30px 0;
  .sec-header {
    border-bottom: 0;
  }
  
  // form start
  form {
    padding: 25px 30px;
    border-radius: 10px;
    background-color: #fff;
    background-image: url(../images/explrdtilslstitm-bgbrdrarrw.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    box-shadow: 0px 0px 16px rgba(51, 51, 51,  16%);
    position: relative;
 
    // label
    label {
      display: block;
      padding: 8px 0;
      font-weight: 500;
      span{
        color: red;
      }
    }
    // input
    input,select,
    textarea {
      display: block;
      font-family: "Poppins", arial;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      text-overflow: ellipsis;
      outline: none;
      background-color: #f9f9f9;
      border: 0 none;
      padding: 14px 20px;
      padding-right: 50px;
      margin: 0;
      width: 100%;
      max-width: 100%;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 2px #848383;
      &:focus {
        background-color: #fefefe;
      }
    }
    // submit btn
 .submit-btn {
   display:flex;
   justify-content:center;
   align-items:center;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 35px;
    margin-top: 15px;
    border-radius: 50px;
    background-color: transparent;
    border: 3px solid #3f8830;
    color: #333;
    transition: all 0.3s ease-in-out;
    float: right;
    align-items: center;
    &:hover {
      background-color: #3e7e31;
      color: #fff;
    }
  }
    //   col
    .col-5,
    .col-10 {
      margin-bottom: 30px;
    }
    .col-5:nth-child(odd) {
      padding-right: 20px;
    }
    .col-5:nth-child(even) {
      padding-left: 20px;
    }
  }

  // contact method
  .contact-method-container {
    padding-top: 90px;
    padding-bottom: 280px;
    .email-container {
      margin-right: 25px;
    
    }
    .phone-container {
      margin-left: 25px;
    }
  }
}



// accordion
        input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;

}
        .accordion-tabs {
          padding-top: 80px;
  border-radius: 8px;
.accordion-tab {
  width: 100%;
  overflow: hidden;
  padding-top:10px;
  margin-bottom: 20px;
  &-label {
    cursor: pointer;
    /* Icon */
    &:hover {
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
    &:hover {
    }
  }
  &:last-child{
    margin-bottom: 0;
  }
}

// :checked
input:checked {
  + .accordion-tab-label {
  
  }
  ~ .accordion-tab-content {
    max-height: 858px;
    height: 100%;
    overflow:auto;
    padding: 0px 60px;
    padding-left: 85px;
       h6{
      font-weight: 500;
    }
    &>ul{
      padding: 35px 0;
      li{
    border-left: 1px solid #616161;
    padding-left: 16px;
    margin-bottom: 16px;
    line-height: 1.1;
      }
    }
  }
}


}

// 1600
@media all and (max-width: 1600px){


  // form section
  .form-section {
        form{
      
           .col-5,.col-10{
        margin-bottom:25px;
      }
    }
    .contact-method-container {
      padding-bottom: 250px;
    }
  }


    // accordion
     // acccordion
  .accordion-tabs{
    padding-top: 60px;
  }
  // end
}
// 1441
@media all and (max-width: 1441px){
    // form section
  .form-section{
    form{
      
           .col-5,.col-10{
        margin-bottom:20px;
      }
        input,textarea{
        padding: 12px 20px;
      }
      .submit-btn {
        padding: 13px 25px;
      }
    }
  }


// tabs
input:checked ~ .accordion-tab-content{
  padding-left: 65px;
}
   
}

// 1366
@media all and (max-width: 1366px){

  // form section
  .form-section {
   
    .form-container{
         
    }
    
    // form
    form {
     padding: 35px 85px;
      .col-5,
      .col-10 {
        margin-bottom: 15px;
      }
      .submit-btn {
        margin-top: 8px;
            padding: 8px 20px;
      }
    }

  }



      // acccordion
  .accordion-tabs{
    padding-top: 60px;
  }
  
  
  // end

}


// 1200
@media all and (max-width: 1200px){


// form section
  .form-section{
  
    form{
      
    
    }
  }

}
// 1100
@media all and (max-width: 1100px){

}

// 1024
@media all and (max-width: 1024px) {
 
  .form-section{
   

    // form
     form{
    //   col
    .col-5,
    .col-10 {
      margin-bottom: 8px;
    }
     .col-5:nth-child(odd) {
      padding-right: 0px;
    }
    .col-5:nth-child(even) {
      padding-left: 0px;
    }
     }


  }



// 900
@media all and (max-width:900px){
  .home-banner-sec{
  background-image: none;
  }
   // menu
  .headernav-grp > ul > li.has-children {
      a{
        
    &::after{
    display: none !important;
    }
    }
    &:hover{
      & > ul.childrenlist{
        background-color: #cccccc26;
      }
    }
    ul.childrenlist{
    position: static;
    display: block !important;
    visibility:visible !important;
    opacity: 1 !important;
    transform:translateY(0);
    padding: 0 7px ;
    width: 100%;
    border:0;
    box-shadow: none;
    li{
    border: 0;
    a{
      margin-left: 10px;
    }

    }

 
  }
}
}



  // end
}


// 767
@media all and (max-width: 767px){


 

  .with-banner .headernav-grp > ul > li.has-children > a:after{
          filter: invert(1) brightness(100);
  }
   .blue-bg{
    .img-box{
      margin-bottom: 8px;
    }
  }
  // form section
  .form-section {
    padding: 60px 0;
    .form-container{
      padding-bottom: 60px;
    }
    form{
    
      input,textarea{
        padding: 8px 20px;
      }
    }
    .form-fields-box{
      padding-top:30px;
    }

 
  }



                  // acccordion
  .accordion-tabs{
    padding-top: 60px;
  }

   .explore-section input:checked ~ .accordion-tab-content{
         padding: 30px;
    padding-left: 30px;
    ul{
      li{
        border-left: 0;
        line-height: 1.4;
      }
    }
   }
  // end
}
// 600
@media all and  (max-width:600px){
 
  // form section
  .form-section {
    form{
      padding:20px 40px;
    }
  }
      input:checked ~ .accordion-tab-content{
         padding: 20px;
    padding-left: 20px;
    ul{
      li{
       padding: 0;
      }
    }
   }

}
// 500
@media all and (max-width:500px){

}

// 450
@media all and (max-width: 450px) {

.form-section{
  form{
    padding: 20px;
    .form-heading{
      h2{
        font-size: 20px;
      }
    }
  }
 .submit-btn{
         display: block;
         width: 100%;
         text-align: center;
 }
}

}

/*==============================================================
					Test Page
  ==============================================================*/
  .test-section{
	  .row1{
		  flex-wrap: nowrap;
		@media all and (max-width:1200px){
	
		}
		@media all and (max-width:900px){
			flex-wrap:wrap;
		}
	  }

  }
  .p-0{
    padding: 0;
  }
//   side menu
  .sticky{
      width: 230px;
      height:100%;
      position:fixed;
      top: 0; 
      left: auto;
     .side-menu-inner{
      height:calc(100% - 225px);
      margin-top: 125px;
      overflow:auto;
	  .side-menu-title{
		  position:relative;
	  }
		.side-menu-icon{
			position:absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 25px;
			height: 25px;
			background-image: url("../images/icons8-back-48.png");
			background-repeat: no-repeat;
			background-size:23px;
			background-position: center;
			transform:rotate(-90deg) translate(50%,50%) ;
			// &::before{
			// 	content: "";
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 50%;
			// }

		}
      
   	 }

      @media all and (max-width:900px){
        .side-menu-inner{
          margin-top: 75px;
        }
      }

	
	}
  // side menu
  .side-section{
	  width: 260px;
	  
  }
  .side-menu{
      h6{
          font-weight: 500;
          font-size: 16px;
		  padding: 5px 12px;
        }
    ul{
      li{
        padding: 5px 12px;
        border-top:1px solid #cdcdcd69 ;
        font-size: 15px;
        color: #333;
        transition: background 0.2s ease-in-out;
        &:hover{
          background-color: #04aa6d1c;
          border-left: 2px solid #04AA6D;
        }
       
        a{
          display:block;

        }
      
      }
    }
    @media all and (max-width:1366px){
        width: 200px;
    }
    		@media all and (max-width:900px){
			width: 100%;
			height:auto;
			left: 0;
			z-index: 1;
			
			.side-menu-inner{
				height:50px;
				overflow: hidden;
				.side-menu-title{
				background-color: #fff;
				position:fixed;
				width:100%;
				height:45px;
			}
				ul{
					padding-top: 35px;
				}
			}
			
			
			.side-menu-inner.show{
				height: 50vh;
				overflow: auto;
			
				
			}
		}
  }

// content section

  // input
                input[type=radio],input[type=checkbox],input[type=file]{
                    opacity:0;
                    position: absolute;
                    z-index: -1;
                    transition: all 0.3s ease-in-out;
                }
                .que-label{
                position:relative;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

            
                // check image
                .option{
                      display:inline-block;
                      width: 100%;
                      position: relative;
                      padding: 5px 10px;
                      padding-left: 45px;
                      margin-bottom: 8px ;
                      border: 1px solid #cdcdc898;
                      top: 5px;
                      left: 0;
                      transition: all 0.2s ease-in-out;
                        &:hover{
                          background-color: #028d5ad8;
                          color: #fff;
                        }
                    &::before{
                            content: "";
                            font-size: 16px;
                            position: absolute;
                            left: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                            padding: 0px 8px 0px 0px;
                            border-right: 1px solid #cdcdc8;
                            width: 25px;
                            text-align: center;
                        
                    }
                }

                input:checked ~ .option{
                  background-color: #028d5a;
                  color: #fff;
                  &::before{
                      border-color: #f8f8f8ab;
                  }
            
                }
         
            }
  .content-container{
    margin-top: 15px;
    height: 750px;
    @media all and (max-width:900px){
      height: auto;
      margin-top: 75px;
      
    }
    
  }

#test-form {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  @media all and (max-width:600px){
    padding: 25px;
  }
}

h2 {
  font-weight: 600;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #3f8830;
  
}

#prevBtn {
  background-color: #d80d0d;
  &:hover{
      background-color: #f81e1e;
  }
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
.tab{
    ul{
        li{
                   &.option-a{
                    .option{
                        &::before{
                            content: "a";
                        }
                    }
                }
                &.option-b{
                    .option{
                        &::before{
                            content: "b";
                        }
                    }
                }
                &.option-c{
                     .option{
                        &::before{
                            content: "c";
                        }
                    }
                }
                &.option-d{
                    .option{
                        &::before{
                            content: "d";
                        }
                    }
                }
        }
    }
    .question{
        font-weight: 500;
       
    }
}
.hide-1200{
		@media all and (max-width:1200px){
		display: none;
	}
}
// ads container
.side-ads.sticky{
  @media all and (max-width:900px){
    position:static;
    margin-top: 15px;
    .side-menu-inner{
      height:130px;
      margin-top:15px;
    }
  }
}
.ads-img{
  width: 100%;
}
.ads-img-1{
height: 120px;
}
.ads-img-2{
    max-width: 200px;
    height: 120px;
  margin: 5px ;

}



  
/*==============================================================
					ABOUT US
  ==============================================================*/
  .mission-vision-section{
 .content-box .item .img-box img{
   height: 250px;
 }
  }




  
/*==============================================================
					MEDIA QUERY
  ==============================================================*/

/*	MIN-WIDTH Media Query	*/
@media all and (min-width: 768px) {
  /*PAGES Styling*/
}

@media all and (min-width: 901px) {
  /*PAGES Styling*/
}

@media all and (min-width: 1201px) {
  /*PAGES Styling*/
}

@media all and (min-width: 1367px) {
  /*PAGES Styling*/
}

@media all and (min-width: 1601px) {
  /*PAGES Styling*/
}

/*	MAX-WIDTH Media Query	*/
@media all and (max-width: 1600px) {
  /*Pages Styling*/
}

@media (max-width: 1600px) and (min-width: 901px) {
  /*PAGES Styling*/
}

@media (max-width: 1450px) and (min-width: 901px) {
}

@media all and (max-width: 1366px) {
  /*PAGES Styling*/
}

@media (max-width: 1366px) and (min-width: 901px) {
  /*PAGES Styling*/
}

@media all and (max-width: 1300px) {
}

@media all and (max-width: 1280px) {
  /*PAGES Styling*/
}

@media (max-width: 1280px) and (min-width: 901px) {
  /*PAGES Styling*/
}

@media all and (max-width: 1200px) {
  /*PAGES Styling*/
}

@media (max-width: 1200px) and (min-width: 901px) {
  /*PAGES Styling*/
}

@media all and (max-width: 1024px) {
  /*PAGES Styling*/
}

@media (max-width: 1024px) and (min-width: 901px) {
  /*PAGES Styling*/
}

@media all and (max-width: 991px) {
  /*PAGES Styling*/
}

@media (max-width: 900px) {
  /*PAGES Styling*/
}

@media (max-width: 900px) and (min-width: 768px) {
  /*PAGES Styling*/
}

/* Landscape view for mobile */
@media all and (max-width: 767px) {
  /*PAGES Styling*/
}

@media all and (max-width: 660px) {
  /*PAGES Styling*/
}

@media all and (max-width: 600px) {
}

/* Portrait view for mobile */
@media all and (max-width: 480px) {
  /*PAGES Styling*/
}

@media all and (max-width: 400px) {
}

@media all and (max-width: 365px) {
  /*PAGES Styling*/
}
